.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.driver-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.driver-card {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
}

.driver-img {
  width: 150px; /* Adjust the width to your preference */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

.footer {
  /*background-color: #333;*/
  /*color: white;*/
  padding: 10px;
  text-align: center;
}

